*{
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}

.tba-container.header{
    background-color: tomato;
    color: white;
    text-align: center;
}

.tba-container.header a:hover{
    background-color: navy;
}
    

.tba-bar-item .tba-right a:hover{
    color: navy;

}

a{
    padding: 10px;
}

